@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textarea {
    @apply w-full rounded-lg border-0 bg-white/40 p-2 font-mono text-black placeholder:text-slate-400 focus:border-yellow-500 focus:ring-yellow-300 active:border-yellow-500 dark:bg-black/40 dark:text-white dark:placeholder:text-slate-200;
  }
  .input {
    @apply py-2 rounded-md border border-black dark:border-white bg-white/60 px-2 focus:border-yellow-500 focus:outline-none focus:ring-yellow-400 focus-visible:border-yellow-500  active:border-yellow-500 dark:bg-black/60 dark:text-white dark:placeholder:text-slate-300;
  }
  .select {
    @apply h-12 rounded-md border-2 border-black bg-white px-2;
  }
  .label {
    @apply mb-4 block text-2xl;
  }
  .card {
    @apply rounded-md border border-black hover:bg-cream-100 p-4 dark:hover:bg-yellow-900 text-black dark:text-white;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border-color: #aaa;
  }
}

* {
  box-size: border-box;
}

.highlight-text {
  display: inline;
  background-size: 100% 95%;
  background-image: linear-gradient(
    0deg,
    hsl(50deg 100% 50% / 100%) 0%,
    hsl(50deg 100% 50% / 100%) 2px,
    hsl(50deg 100% 50% / 20%) 2px,
  ) !important;
}

body {
  color: rgb(var(--foreground-rgb));
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 1rem;
  width: 1px;
  height: 100%;
  z-index: 10;
  @apply bg-black dark:bg-transparent;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 1rem;
  width: 1px;
  height: 100%;
  @apply bg-black dark:bg-transparent;
  z-index: 10;
}

pre {
  padding: 0.5rem 0.8rem !important;
  margin: 0 !important;
  background: rgb(254 249 195);
}
pre > code {
  background: none !important;
}
pre span {
  font-size: 1rem !important;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
}

/*
Highlight theme
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
/* Base16 Atelier Plateau Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Plateau Comment */
.hljs-comment,
.hljs-quote {
  color: #655d5d;
}

/* Atelier-Plateau Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #ca4949;
}

/* Atelier-Plateau Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #b45a3c;
}

/* Atelier-Plateau Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #4b8b8b;
}

/* Atelier-Plateau Blue */
.hljs-title,
.hljs-section {
  color: #7272ca;
}

/* Atelier-Plateau Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8464c4;
}

.hljs-deletion,
.hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #ca4949;
}

.hljs-addition {
  background-color: #4b8b8b;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f4ecec;
  color: #585050;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
